body{
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction:column;
    justify-content: center;
    background-color: #A9F5D0;
}

#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#header h1{
    color: #4B088A;
    font-weight: 800;
}

div .columns{
    padding: 10px;
    border: 1px solid black;
    
}

#container{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

#changeButton{
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color:#CECEF6;
    font-size: 17px;
}


